<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT</title>
</head>
<body>
    <h1>ADD PRODUCT</h1>
    <hr>
    <form action="/update" method="POST">
        <input type="number" name="pId" placeholder="Enter PID"><br>
        <input type="text" name="pName" placeholder="Enter name"><br>
        <input type="text" name="pPrice" placeholder="Enter price"><br>
        <input type="number" name="pQty" placeholder="Enter quantity"><br>
        <input type="submit" value="SUBMIT">
    </form>
</body>
</html>