<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER</title>
</head>
<body>
    <h1>Welcome {{uName}} !!!</h1>
    <hr>
    <a href="/addorderpage">ORDER</a>
    <a href="/vieworderpage">VIEW ORDERS</a>
    <a href="/viewproducts">VIEW PRODUCTS</a>
    <a href="/addproductpage">ADD PRODUCT</a>
    <a href="/deleteproductpage">DELETE PRODUCT</a>
    <a href="/updateproductpage">UPDATE PRODUCT</a>
</body>
</html>